.input-containers {
  display: flex;
  gap: 3.6458vw;
  margin-bottom: 9.537vh;
}

.find {
  width: 20.833vw;
}

.title {
  width: 15.625vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title .position-container {
  padding-left: 0.625vw;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #B6BCC3;
  border-radius: 4px 4px 0 0;
  background: #0B1F3512;
  cursor: pointer;
}

.find .find-staff-input-container {
  width: 20.833vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.find #find {
  padding-left: 0.625vw;
  width: 100%;
  height: 55px;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #B6BCC3;
  background: #0B1F3512;
}

.find #find::placeholder,
.title .position-container .position-label,
.find #find:valid,
.title .position-container .position-label {
  color: var(--light-text-secondary-text-color-secondary, rgba(11, 31, 53, 0.70));
  font-size: 0.833vw;
  line-height: 1.852vw;
}

.position-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.52vw;
  position: relative;
}



.type-select__icon {
  padding-right: 0.625vw;
  transition: transform 0.3s linear;
}

.type-select--active .type-select__dropdown {
  display: inline-block;
  opacity: 1;
}

.type-select--active .type-select__icon {
  transform: rotateX(180deg);
}

.position-dropdown {
  margin-top: 2.778vh;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.926vh 0;
  width: 100%;
  transition: opacity 0.2s ease-out, height 0.2s ease-out;
}

.position-dropdown.show {
  opacity: 1;
}

.position-option {
  padding: 1.11vh 1.04vw;
  cursor: pointer;
  font-size: 0.834vw;
  font-weight: 400;
  line-height: 1.85vh;
}

.position-option:hover {
  background-color: #E0E0D6;
}

.position-option:active {
  background-color: greenyellow;
}

.position-option:active,
.position-option--selected {
  background-color: greenyellow;
}

.staff-workers {
  display: flex;
  flex-wrap: wrap;
}

.worker {
  width: 16.927vw;
  height: 40vh;
  margin-right: 3.906vw;
  border-radius: 15px;
  background: rgba(189, 243, 220, 0.25);
  margin-bottom: 1.852vh;
}

.worker:nth-last-child(-n+4) {
  margin-bottom: 0;
}

.first-part {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.574vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.30);
  margin-bottom: 1.574vh;
}

.worker-img {
  margin-top: 2.407vh;
  width: 12vw;
  height: 16.6vh;
}

.worker-img img {
  width: 100%;
  height: 100%;
  border-radius: 80px;
}

.first-part h3 {
  color: #000;
  font-size: 1.041vw;
  font-weight: 600;
  line-height: 1.852vh;
  margin-bottom: 1.11vh;
}

.worker-information {
  display: flex;
  flex-direction: column;
  gap: 2.963vh;
  padding-left: 0.833vw;
  padding-right: 1.77vw;
}

.spc-btwn-inf {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.spc-btwn-inf .key,
.spc-btwn-inf .value {
  color: #000;
  font-size: 1.041vw;
  font-weight: 600;
  line-height: 1.852vh;
}

.spc-btwn-inf .value {
  text-align: center;
}
