<div class="staff-page">
  <div class="input-containers">
    <div class="find">
      <div class="find-staff-input-container">
        <input type="text" placeholder="Поиск сотрудника..." name="find" id="find" [(ngModel)]="searchText"
          (input)="filterByName()">
        <label class="search__label" for="search">Введите фамилию сотрудника</label>
      </div>
    </div>

    <div class="title">
      <div class="position-container" (click)="toggleDropdown()" [ngClass]="{'type-select--active': dropdownOpen}">
        <div class="position-label"> {{ selectedRole }} </div>
        <div class="type-select__icon">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M17.9553 6.61619C17.7209 6.38185 17.403 6.25021 17.0716 6.25021C16.7401 6.25021 16.4222 6.38185 16.1878 6.61619L10.0003 12.8037L3.81281 6.61619C3.57705 6.38849 3.2613 6.2625 2.93355 6.26535C2.60581 6.2682 2.29229 6.39966 2.06053 6.63142C1.82877 6.86318 1.69731 7.17669 1.69446 7.50444C1.69162 7.83218 1.81761 8.14794 2.04531 8.38369L9.11656 15.4549C9.35097 15.6893 9.66885 15.8209 10.0003 15.8209C10.3318 15.8209 10.6496 15.6893 10.8841 15.4549L17.9553 8.38369C18.1896 8.14928 18.3213 7.8314 18.3213 7.49994C18.3213 7.16848 18.1896 6.8506 17.9553 6.61619Z"
              fill="#0B1F35" fill-opacity="0.34" />
          </svg>
        </div>

        <div class="position-dropdown" [ngClass]="{'show': dropdownOpen}">
          <div class="position-option" *ngFor="let role of roles" (click)="toggleRole(role)"
            [ngClass]="{'position-option--selected': role === selectedRole}">
            {{ role }}
          </div>
        </div>
      </div>
      <h5>Выберите должность</h5>
    </div>
  </div>

  <div class="staff-workers">
    <div *ngFor="let worker of filteredWorkers" class="worker">
      <div class="first-part">
        <div class="worker-img">
          <img src="/assets/img/courier.svg" alt="worker-img" *ngIf="worker.jobTitle === 'Курьер'">
          <img src="/assets/img/chef.svg" alt="worker-img" *ngIf="worker.jobTitle === 'Повар'">
        </div>
        <h3> {{ worker.first_name + ' ' + worker.surname }} </h3>
      </div>

      <div class="worker-information">
        <div class="worker-id spc-btwn-inf">
          <div class="id-key key">ID:</div>
          <div class="id-value value">{{ worker.id }}</div>
        </div>

        <div class="worker-salary spc-btwn-inf">
          <div class="salary-key key">Зарплата:</div>
          <div class="salary-value value">{{ worker.salary }}</div>
        </div>

        <div class="worker-jobTitle spc-btwn-inf">
          <div class="jobTitle-key key">Должность:</div>
          <div class="jobTitle-value value">{{ worker.jobTitle }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
