.menu {
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
    height: 100vh;
    display: inline-block;
}

.menu__logo {
    width: 40px;
    height: 40px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.30);
}

.menu__item {
    padding: 20px 24px;
}

.menu__container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu__item:hover {
    border-radius: 0px 12px 12px 0px;
    background: #0B1F35;
}